@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-action="Search">Search</a>
    <a class="btn btn-primary" asp-action="Reference">Reference</a>
</div>