<script src="~/js/search.js"></script>
<script src="~/js/verse_general.js"></script>
<div class="align-items-center justify-content-center d-flex flex-column gap-3">
    <div id="share-success-alert" class="alert alert-success fade position-fixed z-2" style="display: none; width: 95%; top: 1%;" role="alert">
        Copied to clipboard!
    </div>
    <div id="page-fail-alert" class="alert alert-danger fade position-fixed z-2" style="display: none; width: 95%; top: 1%;" role="alert">
        Page does not exist...
    </div>
    <div class="search-input-placeholder">
        
    </div>
    <ul class="list-group w-lg-75 w-100" id="search-results">

    </ul>
</div>

<div class="modal" tabindex="-1" role="dialog" id="comments-modal">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            checkUrlSearch()
            $(window).on('newViewport', vp => {
                updateViewport()
            })
            $(window).trigger('newViewport', () => {})
            window.addEventListener("resize", () => $(window).trigger('newViewport', () => {}))
        })
    </script>
}